body {
    background-color: #f4f4f4;
height:70vh;
justify-content: center;
align-items: center;
font-family: arial, sans-serif;
display: flex;
}

.container {
background-color: white;
padding: 20px;
border-radius: 10;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
width: 80%;
align-items: center;
display: flex;
flex-direction: column;
}

.calculator{
    background-color:#e3f2fd ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.input-container{
    background-color: white;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}

.output-container{
    background-color: #dff0d8;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}