/* https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */body {
    background-color: #DAD7CD;
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cursive;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.calculator {
    background-color: #A3B18A;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    background-color: #ffffff;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}

.output-container {
    background-color: #3A5A40;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.button-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #344E41;
    border-radius: 5px;
    font-family: monospace;
}

button {
    width: 93%;
    background: #588157;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #3A5A40;
}

input {
    width: 90%;
    padding: 8px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.author {
    width: 5%;
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
}